<div class="insult-generator">

  <div id="send-form"></div>
  <h3 class="instructions">Generate an insult to send to Megan</h3>
  
    <a id="first-insult" class="button-link generate" href="/insults/create">Generate!</a>
  
</div>