<% if @insult %>
  <h1 class="insult"><%= @insult.text %></h1>
<% end %>

<form id="send" action="/send-insult/<%= @insult.id %>" method="post">
  <input type="submit" value="Send!">  
</form>
<p>Unhappy with that one?</p?