<h3 class="insult"><%= @insult.text %></h3>

<form id="send" action="/send-insult/<%= @insult.id %>" method="post">
  <input type="submit" value="Send!">  
</form>
<!-- <p class="try-again">Unhappy with that one?</p> -->