<div class="container">
  
  <p id="instructions">Generate an insult to send to Megan</p>

  <div id="send-form"></div>
  <a id="generate" class="button-link" href="/generate-insult">Generate!</a>
  

</div>