<div class="insult-generator">
<div id="send-form"></div>

<h3 class="instructions">
  Enter the phone number where you'd like to send a Shakespearean Insult
</h3>

<form id="phone-number" action="/insults/create" method="post">
  <input class="phone-number" type="text" size="30" placeholder="(XXX) XXX-XXXX (U.S. only)" />
  <input type="submit" class="button-link generate" value="Get that insult!" />
</form>

</div>