<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/application.css">
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Julee|Calligraffitti|Dancing+Script" rel="stylesheet" type="text/css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../js/application.js"></script>

  <title>Ye Olde Dickhead</title>
</head>
<header>
</header>
<body>
  <div class="container">
    <div class="header">
      <h1>Ye Olde Dickhead</h1>
        <div class="twilio">
          <div class="twilio-link twilio-picture">
            <a href="https://www.twilio.com/">
              <img class="twilio-logo" src="../images/Twilio_logo_black.png" />
            </a>
          </div>
          <div class="twilio-link twilio-text">
            <a href="https://www.twilio.com/">
              powered by 
            </a>
          </div>
        </div>

      <!-- <h5>O, these deliberate fools! When they do choose, they have the wisdom by their wit to lose</h5> -->
    </div>
    <%= yield %>
  </div>
</body>
</html>
