<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Julee|Calligraffitti|Dancing+Script' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<header>
  <h1>Ye Olde Dickhead</h1>
  <h4>O, these deliberate fools! When they do choose, they have the wisdom by their wit to lose</h4>
</header>
<body>
  <%= yield %>
</body>
</html>
